body{
    margin: 0;
    padding: 0;
    perspective: 1000px;
}
.image1{
    height: 35vh;
    width: 25vw;
    
}
.mega-container{
    height: 75vh;
    width: 65vw;
    margin: 10% 10% 0% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.container{
    height: 65vh;
    width: 55vw;
   /* background-color: blueviolet; */
}
#react{
    width:17vw ;
    height: 25vh;
}
#bug{
    width:15vw ;
    height: 25vh;
    margin-left: 20%;
}
#pair{
    width:20vw ;
    height: 25vh;
    margin-left: 23%;
}
.name{
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin: 0;
}
#div1{
    margin-top:-0.1vh ;
    padding: 0;
    height: 130vh;
    width: 100vw;
    background-color: black;  
}
#div2{
    margin-top:-0.1vh ;
    padding: 0;
    height: 130vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
}
.feature{
    height: 20vh;
    width: 40vw;
    background-color: rgb(182, 169, 169);
    /* margin: 2rem auto; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #top{
    margin-top: 0;
} */