body{
    background-color: rgb(0, 0, 0);
    perspective: 1000px;
}
.image1{
    height: 35vh;
    width: 25vw;
    
}
.mega-container{
    height: 75vh;
    width: 65vw;
    margin: 10% 10% 0% 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.container{
    height: 65vh;
    width: 55vw;
   
    /* background-color: blueviolet; */
}
#react{
    width:17vw ;
    height: 25vh;
}
#bug{
    width:15vw ;
    height: 25vh;
    margin-left: 20%;
}
#pair{
    width:20vw ;
    height: 25vh;
    margin-left: 23%;
}